<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.education.middle">

    <permission android:name="com.education.middle.READ"/>
    <permission android:name="com.education.middle.WRITE"/>
    <uses-permission android:name="com.education.middle.READ"/>
    <uses-permission android:name="com.education.middle.WRITE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.URLContentProvider"
            android:authorities="com.education.middle"
            android:readPermission="com.education.middle.READ"
            android:writePermission="com.education.middle.WRITE"
            android:enabled="true"
            android:exported="true">

        </provider>
    </application>

</manifest>